/* NavigationBar.module.css */
.navbar {
  background-color: #333;
  padding: 1rem;
}

.titleLogo {
  margin-right: 230px;
}

.navList {
  color: white;
}

.logo {
  margin-right: auto;
}

/* Custom CSS */
.customSearchForm {
  display: flex;
  align-items: center;
}

.customSearchForm .formControl {
  margin-right: 15px; /* Adjust spacing between form control and button */
}

.customButton {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
}

.customButton:hover,
.customButton:focus {
  background-color: transparent;
  color: inherit;
  box-shadow: none;
  outline: none;
}