/* NavigationBar.module.css */
.navbar {
  background-color: #333;
  padding: 1rem;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navList li {
  display: inline;
  margin-right: 1rem;
}

.navList li a {
  color: #fff;
  text-decoration: none;
}

.navList li a:hover {
  color: #ccc;
}

.logo {
  margin-right: auto;
}

/* Custom CSS */
.customSearchForm {
  display: flex;
  align-items: center;
}

.customSearchForm .formControl {
  margin-right: 15px; /* Adjust spacing between form control and button */
}